input, select {
    width:60%;
    border:1px solid #ccc;
    padding:3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    align-content: center !important;
    display: block;
    margin: 0  auto;

}
input {
text-indent: 4px;
}


.jumbotron {
    background-color: #f4511e !important;
    color: #fff;
    font-family: Montserrat, sans-serif;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #f4511e !important;
    background: #f4511e !important;
    background-color: #f4511e !important;
}

.text-white {
    color: white;
}

p:empty {
    display: none;
}

button {
    size: 100% !important;
    box-sizing: content-box;
    background: #f4511e;
    color: aliceblue;
    margin-bottom: 1em;
}

button:hover {
    color: black !important;
}


a{ 
    size: 100% !important;
    box-sizing: content-box;
    background: #f4511e;
    color: aliceblue;
}