<!-- <div>
  <h1>C e n t r u m</h1>
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fullName="ngModel" [(ngModel)]="service.user.fullName" name="fullName" placeholder="Full Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
  <div *ngIf="signUpForm.submitted && !fullName.valid">
    <label class="validation-message">You must provide your first name.</label>
  </div>
  <input type="text" #lastName="ngModel" [(ngModel)]="service.user.lastName" name="lastName" placeholder="Last Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
  <div *ngIf="signUpForm.submitted && !lastName.valid">
    <label class="validation-message">You must provide your last name.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="service.user.email" name="email" placeholder="Email"
  required [pattern]="regex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">You must provide an email.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="service.user.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">You must provide a password.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 6 characters.</label>
  </div>
  <input type="submit" value="Sign Up">
</form> -->

<!-- Success message -->
<!-- <div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div> -->

<!-- Error message -->
<!-- <div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div> -->
<!DOCTYPE html>
<html lang="en">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
  <head>
    <title>TagAI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    </head>
<body>
    <div class="jumbotron text-center container-fluid">
      <h1 class="text-white">tagAI</h1>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form [formGroup]="registerForm">
            <div>
                  <div class="text-center form-group">
                    <input type="email" formControlName="email" class="form-control text-center" placeholder="Email Address" required>
                  </div>
                  <div class="text-center form-group">
                    <input type="password" class="form-control text-center" formControlName="password" placeholder="Password" required>
                    <p class="error">{{errorMessage}}</p>
                    <p>{{successMessage}}</p>
                  </div>
            </div>
            <div>
              <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
            </div>
            <div>
              <button type="submit" (click)="tryGoogleLogin()" class="btn btn-default">Register with Google</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <p class="text-white">Already have an account? </p>
              <a class="btn btn-default" href="/login" id="login-link">Login</a>

        </div>
      </div>
    </div>
</body>
</html>