<!-- <div>
  <h1>C e n t r u m</h1>
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fullName="ngModel" [(ngModel)]="service.user.fullName" name="fullName" placeholder="Full Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
  <div *ngIf="signUpForm.submitted && !fullName.valid">
    <label class="validation-message">You must provide your first name.</label>
  </div>
  <input type="text" #lastName="ngModel" [(ngModel)]="service.user.lastName" name="lastName" placeholder="Last Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
  <div *ngIf="signUpForm.submitted && !lastName.valid">
    <label class="validation-message">You must provide your last name.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="service.user.email" name="email" placeholder="Email"
  required [pattern]="regex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">You must provide an email.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="service.user.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">You must provide a password.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 6 characters.</label>
  </div>
  <input type="submit" value="Sign Up">
</form> -->

<!-- Success message -->
<!-- <div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div> -->

<!-- Error message -->
<!-- <div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div> -->

<h1 class="header">DATA ANALYTICS</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>Already have an account? </p>
      <a href="/login" style="color:black;">Login</a>
    </div>
  </div>
</div>