<form (ngSubmit)="signUp(f)" #f="ngForm">
    <div class="row">
        <div class="col-xs-12 text-center">
            <strong>
                <h1>
                    Create Account
                </h1>
            </strong>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    ngModel 
                    class="form-control"
                    placeholder="Email"
                    required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    ngModel 
                    class="form-control"
                    placeholder="Password"
                    required>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="errorMessage !== undefined">
        <div class="col-xs-12">
            <p>{{ errorMessage }}</p>
        </div>
    </div>
    <br>
    <br>
    <button class="btn btn-success signup" type="submit">
        Sign Up
    </button>
</form>