.signup {
    width: 100%;
    padding: 5%;
    border-radius: 1em;
  }
  
  input, hr {
    width: 100%;
  }
  
  form {
    margin-left: 25%;
    margin-top: 15%;
    border: 1px solid rgb(11, 5, 99);
    border-radius: 1em;
    width: 30%;
    padding: 2em;
    background: lightgrey;
  }

  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
  }
  
  .strike > span {
    position: relative;
    display: inline-block;
  }
  
  .strike > span:before,
  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: gray;
  }
  
  .strike > span:before {
    right: 100%;
    margin-right: 15px;
  }
  
  .strike > span:after {
    left: 100%;
    margin-left: 15px;
  }