<div class="container-fluid card">
    <div class="row">
        <div class="col-xs-12">
            <h4 contenteditable="true" class="editName" spellcheck="false" (click)="detectFileChanges()">
                {{fileUpload.name}}
            </h4>
            <hr>
            <h4>Size: {{getFileSize()}}</h4>
            <hr>
            <div *ngIf="fileUpload.date">
                <h4>Uploaded: {{fileUpload.date}}</h4>
                <hr>
            </div>
            <div *ngIf="limitedTags.length > 0">
                <h4>Generated Tags: {{getTagsToString(limitedTags)}}</h4>
                <hr>
            </div>
            <div *ngIf="limitedTags.length === 0">
                <h4>Generating Tags...</h4>
                <hr>
            </div>
            <div *ngIf="personalTags.length > 0">
                <h4>Personal Tags: {{getTagsToString(personalTags)}}</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{modifiedUrl}}" class="btn btn-primary">
                        View
                    </a>
                    <button class="btn btn-danger" (click)="deleteFileUpload(fileUpload)">
                        Delete
                    </button>
                    <button *ngIf="isFiledEdited" class="btn btn-success" (click)="renameFile(fileUpload)">
                        Save New Name
                    </button>
                </div>
            </div>
            <!-- not sure how to pass the input to the button -->
            <div class="row">
                <div class="col-xs-12">
                    <form *ngIf="personalTags.length < 3" name="form" class="form-inline" (ngSubmit)="addTag(f)" #f="ngForm"> 
                        <div class="form-group">
                            <input 
                            type="text" 
                            name="tag"
                            ngModel 
                            class="form-control">
                            <br>
                        </div>
                        <button class="btn btn-danger" type="submit">
                                Add Custom Tag
                        </button>
                    </form>
                </div>
            </div>   
        </div>
    </div>
</div>
